body{
    background-color: black;
    text-align: center;
}
h1 {
    color: white;
    font-family: "Knewave", system-ui;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
}
p{
    color: white;
    font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}
img{
    border: 5px solid white;
    width: 100%;
}
div{
    width: 25%;
    margin-left: 40%;
    margin-top: 10%;
}
